package main

templ Hell(name string) {
	<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="./styles/output.css" />
			<title>Page Title</title>
		</head>
		<body>
			<div class="text-orange-200">Hello { name }</div>
		</body>
	</html>
}
