package components

templ Hell(name string) {
	<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" type="text/css" href="output.css" />
			<title>Page Title</title>
		</head>
		<body>
			<div class="text-orange-300">Hello { name }</div>
		</body>
	</html>
}
